$color-black: #000000;
$color-gray-dark: #8f95a5;
$color-white: #ffffff;
$color-dark-white: #c4c4c4;
$color-dark-blue: #263238;
$color-light-gray: #f5f5f5;
$color-light-gray-alt: #eeeeee;
$color-muted-blue: #546269;
